/*
Grids 12 Columnas es muy divisible

12/1 = 12
12/2 = 6
12/3 = 4
12/4 = 3
12/6 = 2
12/12 = 1

Ubicacion de elementos

1 elemento ocupa 5 col y el segundo ocupa 7 col = 12 col
1 elemento ocupa 2 col y el segundo ocupa 5 col y el tercero ocupa 5 col = 12 col
1 elemento ocupa 4 col y el segundo ocupa 2 col y el tercero ocupa 3 col y el cuarto ocupa 3 col = 12 col

La sumatori de los elementos que van a formar las columnas deben dar siempre 12

Regla de 3 simple

12 ----> 100%
?col --> ???%

Grid System Artesanal con Flexbox a 12 columnas

Tamanos (Media queries)
xs....-...extrasmall.....-0...............-...479px.......-...480res
sm....-...small..........-480 (30em)......-...767px.......-...800res
md....-...medium.........-768px (48em)....-...991px.......-...1024res
lg....-...large..........-992px (62em)....-...11999px.....-...1280res
xl....-...extralarge.....-1200px (75em)...................-...1281res

*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*aplicamos estilos a los elementos cuyo atributo class comienze con la palabra col*/
.row > [class^="col"] {
  border: thin solid gray;
  padding: 1rem;
}

/*
* Grid Mobile First. Al ser mobile fisrt las media queries deben ir de la menor a la mayor.
*/
.col-1 {
  width: 8, 333333333333333%;
}

.col-2 {
  width: 16, 66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33, 33333333333333%;
}

.col-5 {
  width: 41, 66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58, 33333333333333%;
}

.col-8 {
  width: 66, 66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83, 33333333333333%;
}

.col-11 {
  width: 91, 66666666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 30em) {
  .col-sm-1 {
    width: 8, 333333333333333%;
  }

  .col-sm-2 {
    width: 16, 66666666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33, 33333333333333%;
  }

  .col-sm-5 {
    width: 41, 66666666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58, 33333333333333%;
  }

  .col-sm-8 {
    width: 66, 66666666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83, 33333333333333%;
  }

  .col-sm-11 {
    width: 91, 66666666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .col-md-1 {
    width: 8, 333333333333333%;
  }

  .col-md-2 {
    width: 16, 66666666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33, 33333333333333%;
  }

  .col-md-5 {
    width: 41, 66666666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58, 33333333333333%;
  }

  .col-md-8 {
    width: 66, 66666666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83, 33333333333333%;
  }

  .col-md-11 {
    width: 91, 66666666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 62em) {
  .col-lg-1 {
    width: 8, 333333333333333%;
  }

  .col-lg-2 {
    width: 16, 66666666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33, 33333333333333%;
  }

  .col-lg-5 {
    width: 41, 66666666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58, 33333333333333%;
  }

  .col-lg-8 {
    width: 66, 66666666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83, 33333333333333%;
  }

  .col-lg-11 {
    width: 91, 66666666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  .col-xl-1 {
    width: 8, 333333333333333%;
  }

  .col-xl-2 {
    width: 16, 66666666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33, 33333333333333%;
  }

  .col-xl-5 {
    width: 41, 66666666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58, 33333333333333%;
  }

  .col-xl-8 {
    width: 66, 66666666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83, 33333333333333%;
  }

  .col-xl-11 {
    width: 91, 66666666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
